@model IEnumerable<ColorViewModel>
@{
    ViewData["Title"] = "مدیریت رنگ ها";
}
    <link href="~/css/Color.css" rel="stylesheet" />
<div class="col-10 text-left">
    <a class="btn btn-outline-info mt-2" style="color: #000 !important;" asp-area="Admin" asp-controller="Color" asp-action="AddColor">افزودن رنگ جدید</a>
</div>
<div class="col-10 bg-white mt-3 shadow">
    <table class="table table-striped table-borderless text-center mt-1">
        <thead>
            <tr>
                <th>کد رنگ</th>
                <th>نام رنگ</th>
                <th>رنگ</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.ColorName</td>
                    <td>
                        <span class="ColorSpan" style="background-color: @item.ColorCode">
                        </span>
                    </td>
                    <td>
                        <a asp-area="Admin" asp-controller="Color" asp-action="EditColor" asp-route-id="@item.ID">ویرایش</a>
                        <span>|</span>
                        <a asp-area="Admin" asp-controller="Color" asp-action="DeleteColor" asp-route-id="@item.ID">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

